<h1>Listado de emprendimientos</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @emprendimientos.each do |emprendimiento| %>
  <tr>
    <td><%= link_to 'Show', emprendimiento %></td>
  </tr>
<% end %>
</table>
