<div class="row">
  <div class="span8 columns offset4">
    <%= form_tag session_path do %>
      <fieldset>
        <div class="clearfix">
          <label for="usuario">Usuario</label>
          <div class="input">
            <%= text_field_tag :usuario %>
          </div>
        </div>
        <div class="clearfix">
          <label for="password">Contraseña</label>
          <div class="input">
            <%= password_field_tag :password %>
          </div>
        </div>
        <div class="actions">
          <%= submit_tag "Ingresar", :class => "btn primary"%>
          <button class="btn" type="reset">Cancel</button>
        </div>
      </fieldset>
    <% end %>
  </div>
</div>
