<%= form_tag session_path do %>
    <label for="usuario">Usuario</label>
    <%= text_field_tag :usuario %>
    <label>Contraseña</label>
    <%= password_field_tag :password %>
    <%= submit_tag "Ingresar" %>
<% end %>
