<p>
  <b>Nombre:</b>
  <%= @rubro.nombre %>
</p>

<p>
  <b>Descripcion:</b>
  <%= @rubro.descripcion %>
</p>

<div class="actions">
  <%= boton_editar edit_rubro_path(@rubro) %>
  <%= boton_volver rubro_path %>
</div>
