<%= form_for(@emprendedor) do |f| %>
  <% if @emprendedor.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@emprendedor.errors.count, "error") %> prohibited this emprendedor from being saved:</h2>

      <ul>
      <% @emprendedor.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= submit_tag %>
  </div>
<% end %>
