<%= simple_form_for(@comentario) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    f.input :texto
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
