<div id="contenedor-grafico"></div>

<table class="table table-condensed">
  <thead>
    <tr class="well">
      <th>Rubro</th>
      <th>Cantidad</th>
    </tr>
  </thead>
  <tbody>
  <tbody>
<% Rubros.all.each do |rubro| %>
    <tr class="grafico"">
      <th scope="row"><%= rubro.nombre %></th>
        <td><%= rubro.emprendimientos.count %></td>
      </tr>
<% end %>
  </tbody>
</table>
