<% Rubros.all.each do |rubro| %>
  <h3><%= rubro.nombre %></h3>
    <ul>
    <% rubro.emprendimientos.each do |emprendimiento| %>
      <li>
        <strong><%= emprendimiento.nombre%></strong>
        <span><%= emprendimiento.descripcion%></span>
      </li>
    <% end %>
    </ul>
<% end %>
