<ul class="nav nav-list well">
  <li class="nav-header">General</li>
  <li class="active"><a href="#">Resumen</a></li>
  <li><a href="#">Comprar Rubros</a></li>
  <li><a href="#">Usuarios</a></li>
  <li class="nav-header">Productos</li>
  <li><a href="#">Por Rubro</a></li>
  <li><a href="#">Por Estado</a></li>
  <li><a href="#">Listado</a></li>
  <li class="nav-header">Servicios</li>
  <li><a href="#">Por Rubro</a></li>
  <li><a href="#">Por Estado</a></li>
  <li><a href="#">Listado</a></li>
  <li class="nav-header">Emprendimientos</li>
  <li><a href="#">Por Rubro</a></li>
  <li><a href="#">Por Estado</a></li>
  <li><a href="#">Por Institucion</a></li>
  <li><a href="#">Listado</a></li>
</ul>
