<ul class="nav nav-list well">
  <li class="nav-header">General</li>
  <li class="active"><a href="#">Resumen</a></li>
  <li><a href="#">Comprar Rubros</a></li>
  <li><a href="#">Usuarios</a></li>
  <li class="nav-header">Productos</li>
  <li><%= link_to "Por Rubro", reporte_path('grafico_de_productos_por_rubro') %></li>
  <li><a href="#">Por Estado</a></li>
  <li><a href="#">Listado</a></li>
  <li class="nav-header">Servicios</li>
  <li><%= link_to "Por Rubro", reporte_path('servicios_por_rubro') %></li>
  <li><a href="#">Por Estado</a></li>
  <li><a href="#">Listado</a></li>
  <li class="nav-header">Emprendimientos</li>
  <li><%= link_to "Por Rubro", reporte_path('emprendimientos_por_rubro') %></li>
  <li><a href="#">Por Estado</a></li>
  <li><a href="#">Por Institucion</a></li>
  <li><a href="#">Listado</a></li>
</ul>
