<li class=""><%= link_to "Empadronar", root_path %></li>
<li class="dropdown" data-dropdown="dropdown">
  <a class="dropdown-toggle" href="#">Reportes</a>
  <ul class="dropdown-menu">
    <li><a href="#">Reporte 1</a></li>
    <li><a href="#">Reporte 2</a></li>
    <li class="divider"></li>
    <li><a href="#">Reporte 3</a></li>
    <li><a href="#">Reporte 4</a></li>
  </ul>
</li>
<li class=""><%= link_to "Gestionar", "/pem" %></li>
