<p>
  <b>Fijo:</b>
  <%= @telefono.fijo %>
</p>

<p>
  <b>Celular:</b>
  <%= @telefono.celular %>
</p>

<p>
  <b>Mensajes:</b>
  <%= @telefono.mensajes %>
</p>

<p>
  <b>Observaciones:</b>
  <%= @telefono.observaciones %>
</p>
