<p>
  <strong>Fijo</strong><br>
  <%= telefono.fijo %>
</p>

<p>
  <strong>Celular</strong><br>
  <%= telefono.celular %>
</p>

<p>
  <strong>Mensajes</strong><br>
  <%= telefono.mensajes %>
</p>

<p>
  <strong>Observaciones</strong><br>
  <%= telefono.observaciones %>
</p>
