<p>
  <strong>Nombre</strong><br>
  <%= persona.nombre %>
</p>

<p>
  <strong>Apellido</strong><br>
  <%= persona.apellido %>
</p>

<p>
  <strong>Sexo</strong><br>
  <% if persona.sexo %>
    Masculino
  <% else %>
    Femenino
  <% end %>
</p>
