<p>
  <b>Nombre:</b>
  <%= persona.nombre %>
</p>

<p>
  <b>Apellido:</b>
  <%= persona.apellido %>
</p>

<p>
  <b>Sexo:</b>
  <% if persona.sexo %>
    Masculino
  <% else %>
    Femenino
  <% end %>
</p>
