<%= form_for(@postulante) do |f| %>
  <% if @postulante.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@postulante.errors.count, "error") %> prohibited this postulante from being saved:</h2>

      <ul>
      <% @postulante.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
