/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
.*= require jquery-ui-1.8.16.custom
 *= require chosen
 *= require bootstrap-wysihtml5
 *= require bootstrap_and_overrides
 *= require social-share-button
 *= require_self
 *= require impresion
*/

html, body {
  background-color: #BECEDB;
}

#logo {
  background: url("/assets/favicon.png") no-repeat scroll left transparent;
  margin-left: 0;
  padding-left: 36px;
}

h1.page-header {
  text-align: center;
}

p {
  text-align: justify;
}

footer {
  background-color: #F5F5F5;
  border-top: 1px solid #E5E5E5;
  margin-top: 70px;
  padding: 15px;
  text-align: center;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

footer p {
  font-size: 14px;
  color: #777777;
  text-align: center;
}

#sidebar {
  padding-top: 20px;
}

div.content, div.container-fluid {
  background-color: #FFFFFF;
  border-radius: 0 0 6px 6px;
  box-shadow: 0 20px 15px -15px rgba(0, 0, 0, 0.3);
}

.tab-content {
  display: table;
  width: 85%;
}

img {
  max-width: 100%;
}

.fijo {
  position: fixed;
}

.form-search .input-append .btn-comun {
  border-radius: 0 0 0 0;
}

.centrado {
  text-align: center;
}

.chzn-container[id*='q_'] {
  top: 7px;
}

.affix-right {
    position: fixed;
    top: 50px;
    right: 0px;
}

[class*="autor"], .row-fluid [class*="autor"] {
    display: inline;
    margin: auto 3%;
}

a.dp-choose-date {
    background: url("../images/calendar.png") no-repeat scroll 0 0 transparent;
}

/* Espcificaciones de pantalla */

/* Large desktop */
@media (min-width: 1200px) {
  body {
    padding-top: 40px;
  }
  div.content {
    margin: 0 -20px;
    padding: 20px;
  }
}
 
/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {
  body {
    padding-top: 40px;
  }
  div.content {
    margin: 0 -20px;
    padding: 20px;
  }
}
 
/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
  footer {
    margin-left: -20px;
    margin-right: -20px;
  }

  img {
    max-width: 40%;
  }
}
 
/* Landscape phones and down */
@media (max-width: 480px) {
  footer {
    margin-left: -20px;
    margin-right: -20px;
  }

  img {
    max-width: 30%;
  }
}
