/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
.*= require jquery-ui-1.8.16.custom
 *= require bootstrap
 *= require bootstrap-responsive
 *= require_self
 *= require_tree .
*/

/* Landscape phones and down*/
@media (max-width: 480px) {
}

/* Landscape phone to portrait tablet */
@media (max-width: 768px) {
}

/* Portrait tablet to landscape and desktop */
@media (min-width: 980px) and (max-width: 1200px) {
  body {
    padding-top: 40px;
    padding-bottom: 60px;
  }
}

/* Large desktop */
@media (min-width: 1200px) {
  body {
    padding-top: 40px;
    padding-bottom: 60px;
  }
}

html, body {
  background-color: #BECEDB;
}

#logo {
  background: url("/assets/start-here.png") no-repeat scroll left transparent;
  margin-left: 0;
  padding-left: 36px;
}

h2 {
  text-align: center;
}

.content {
  background-color: #FFFFFF;
  border-radius: 0 0 6px 6px;
  margin: 0 -20px;
  padding: 20px;
  box-shadow: 0 20px 15px -15px rgba(0, 0, 0, 0.3);
}

#footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  border: none;
  padding-top: 10px;
  background: -webkit-gradient(linear, left top, left bottom, from(transparent), to(black));
  background: -webkit-linear-gradient(top, transparent, black);
  background: -moz-linear-gradient(top, transparent, black);
  background: -o-linear-gradient(top, transparent, black);
  background: linear-gradient(top, transparent, black);
  box-shadow: none;
}

#footer p {
  text-align: center;
  color: #BFBFBF;
  font-size: 12px;
  line-height: 15px;
  margin-bottom: 5px;
  margin-top: 0;
}

p {
  text-align: justify;
}

.tab-content {
  display: table;
  width: 85%;
}

img {
  max-width: 100%;
}
