/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_tree ./boostrap
 *= require_self
 *= require_tree .
*/

html, body {
  background-color: #BECEDB;
}

body {
  padding-top: 40px;
  padding-bottom: 50px;
}

#logo {
  background: url("/assets/start-here.png") no-repeat scroll left transparent;
  margin-left: 0;
  padding-left: 36px;
}

table td.acciones {
  width: 200px;
}

h2 {
  text-align: center;
}

.content {
  background-color: #FFFFFF;
  border-radius: 0 0 6px 6px;
  margin: 0 -20px;
  padding: 20px;
  box-shadow: 0 20px 15px -15px rgba(0, 0, 0, 0.3);
}

#footer {
  bottom: 0;
  position: fixed;
  width: 100%;
  border: none;
  height: 20px;
}

#footer p {
  text-align: center;
  color: #BFBFBF;
  font-size: 12px;
}

label {
  margin-right: 20px;
}

