<p>Bienvenido <%= @resource.email %>!</p>

<p>A sido registrado en el padron de emprededores y emprendimientos de la
Municipalidad de General Pueyrredon. Recuerde que para recibir todos los beneficios
atribuidos a estar registrado debe completar toda la informacion de su persona y
de su emprendimiento</p>

<p>Usted puede confirmar su cuenta con el siguiente enlace:</p>

<p><%= link_to 'Confirmar mi cuenta', confirmation_url(@resource, :confirmation_token => @resource.confirmation_token) %></p>
