<p>Hola <%= @resource.email %>!</p>

<p>Alguien a solicitado un enlace para cambiar su password, y puede hacer eso usando el enlace a contiuacion.</p>

<p><%= link_to 'Cambiar mi password', edit_password_url(@resource, :reset_password_token => @resource.reset_password_token) %></p>

<p>Si no solicito esto, ignore este correo.</p>
<p>Su password no cambiara a menos que accesda al enlace anterior y cre una nueva.</p>
