<p>Hola <%= @resource.nombre_completo %>!</p>

<p>Se solicit칩 un enlace para cambiar su contrase침a, y puede hacer eso usando el enlace a continuacion.</p>

<p><%= link_to edit_password_url(@resource, :reset_password_token => @resource.reset_password_token), edit_password_url(@resource, :reset_password_token => @resource.reset_password_token) %></p>

<p>Si no solicito esto, ignore este correo.</p>
<p>Su contrase침a no cambiara a menos que acceda al enlace anterior y defina una nueva contrase침a.</p>
