<p>Hola <%= @resource.nombre_completo %>!</p>

<p>Su cuenta ha sido bloqueada por varios intetos fallidos de ingreso.</p>

<p>Haga clic en el siguiente enlace para desbloquear su cuenta:</p>

<p><%= link_to unlock_url(@resource, :unlock_token => @resource.unlock_token), unlock_url(@resource, :unlock_token => @resource.unlock_token) %></p>
