<p>
  <b>Nombre:</b>
  <%= @barrio.nombre %>
</p>

<p>
  <b>Descripcion:</b>
  <%= @barrio.descripcion %>
</p>

<div class="actions">
  <%= boton_editar edit_barrio_path(@barrio) %>
  <%= boton_volver barrios_path %>
</div>
