<footer id="footer" class="footer">
  <div class="navbar">
    <div class="navbar-inner navbar-text">
    <p>&copy; Claudio Rodrigo Pereyra Diaz y Adriel Hernan Caramichos</p>
    </div>
  </div>

  
</footer>
