<div class="row">
  <div class="span8 columns offset1">
    <h3>La Economía Social <small><strong>en el Plan Estratégico</strong></small></h3>

    <p>La Economía Social comprende los emprendimientos de carácter individual, familiar o asociativo que se dedican a la producción y comercialización de bienes y servicios apoyados en las capacidades y recursos preexistentes.</p>

    <p>Implican la gestión de nuevas formas de producción y generación trabajo como estrategias para trascender las condiciones de informalidad y precariedad, el fomento de la asociatividad pública-privada y la recuperación del capital social.</p>

    <p>En el marco del Plan Estratégico Mar del Plata, se conformó una Mesa de Trabajo de Economía Social, con el fin de reunir a las distintas instituciones y organismos municipales, provinciales y nacionales involucrados en esta temática.</p>
  </div>

  <div class="span5 columns offset1">
    <h3>Integrantes</h3>
    <dl>
      <dt>INTA</dt>
        <dd>Programa Pro Huerta</dd>
      <dt>INTI</dt>
      <dt>Ministerio de Desarrollo Social de la Nación</dt>
      <dt>Plan Estratégico de Mar del Plata</dt>
      <dt>UNMDP</dt>
        <dd>Programa de Vinculación Socio productiva</dd>
      <dt>Municipalidad de General Pueyrredon</dt>
        <dd>
          Secretaría de Desarrollo Social<br>
          Secretaría de la Producción<br>
          Oficina de Empleo<br>
          Secretaría de Cultura
        </dd>
      <dt>UTN</dt>
        <dd>Universidad Tecnológica Nacional</dd>
    </ul>
  </div>

  <div class="span8 columns offset1">

    <h3>Registro de emprendedores <small><strong>de la Economia Social</strong></small></h3>
    <p>El Registro de Emprendedores Sociales es una base de datos que unifica y organiza toda la información de los emprendedores y de la actividad de los mismos, tanto desde los artículos que producen y comercializan como el acceso a cursos de capacitación, financiamiento y otras vías de comercialización.</p>
  </div>

  <div class="span5 columns offset1">
    <h6>Contacto</h6>
    <address>
      <strong>Carla Vorano</strong> 0223 4860213
    </address>
    <address>
      <strong>María Igoa</strong> Oficina de Empleo
    </address>
  </div>

  <div class="span12 columns offset1">
    <br>
    <br>
    <h3>Objetivos</h3>
    <ul>
      <li><p>Promover la generación de emprendimientos productivos de escala individual, familiar y comunitaria, alentando estrategias de disminución de pobreza a partir de la generación o aumento de los ingresos familiares</p></li>
      <li><p>Revalorizar el rol del trabajo dentro del proceso productivo, combatiendo la precariedad laboral y promoviendo una creciente vinculación de los microemprendimientos con los sectores productivos formales</p></li>
      <li><p>Conformar un marco normativo e institucional que contemple las necesidades de los distintos tipos de emprendimientos productivos en una nueva estrategia para el desarrollo</p></li>
      <li><p>alentar la producción y comercialización de bienes y servicios surgidos de la economía social a través de la promoción y la asistencia técnica y financiera destinada a pequeños productores individuales o colectivos</p></li>
      <li><p>Recuperar capital social, recursos, capacidades y conocimientos existentes en personas y organizaciones sociales</p></li>
      <li><p>Favorecer a los pequeños emprendedores con espacios y canales de comercialización de sus productos y gestionar beneficios en materia tributaria</p></li>
      <li><p>Promover experiencias asociativas entre organizaciones públicas, privadas y de productores que permitan potenciar los emprendimientos y garantizar su sustentabilidad</p></li>
      <li><p>Diseñar e implementar de un sistema de información de la actividad económica</p></li>
    </ul>
  </div>
</div>
