<div class="row">
<div class="columns span8 offset2">
<div class="carousel slide" id="myCarousel">
  <div class="carousel-inner">
    <div class="item active">
      <%= image_tag "bootstrap-mdo-sfmoma-01.jpg" %>
      <div class="carousel-caption">
        <h4>El Padron</h4>
        <p>Un registro de emprendedores del Partido de General Pueyrredon para poder facilitar ayuda, capacitaciones, colaboracion, informacion a los distintos emprendedores.</p>
      </div>
    </div>
    <div class="item">
      <%= image_tag "bootstrap-mdo-sfmoma-02.jpg" %>
      <div class="carousel-caption">
        <h4>Catalogo de Productos</h4>
        <p>Un amplio catalogo de los productos caracteristicos de cada emprendimiento.</p>
      </div>
    </div>
    <div class="item">
      <%= image_tag "bootstrap-mdo-sfmoma-03.jpg" %>
      <div class="carousel-caption">
        <h4>Catalogo de Servicios</h4>
        <p>Una amplia variedad de servicios ofrecidos una numerosa cantidad de emprendedores abarcando un amplio abanico de rubros.</p>
      </div>
    </div>
  </div>
  <a data-slide="prev" href="#myCarousel" class="left carousel-control">‹</a>
  <a data-slide="next" href="#myCarousel" class="right carousel-control">›</a>
</div>
</div>
</div>
